{% extends 'base.html' %}

{% block content %}

<!-- Featured Post -->

{% for post in featured_posts %}

    {% if forloop.first %}

        <div
            class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
            style="
                background-image: url('{{ post.featured_image.url }}');
                background-blend-mode: overlay;
                background-size: cover;
                background-position: center;
            "
        >

            <div class="col-md-8 px-0">

                <h1 class="display-4 font-italic">
                    {{ post.title }}
                </h1>

                <p class="lead my-3">
                    {{ post.short_description }}
                </p>

                <p class="lead mb-0">

                    <a
                        href="{% url 'blogs' post.slug %}"
                        class="text-white font-weight-bold"
                    >
                        Continue reading...
                    </a>

                </p>

            </div>

        </div>

    {% endif %}

{% endfor %}


<!-- Featured Posts -->

<h3 class="text-uppercase text-warning" style="letter-spacing">
    Featured Posts
</h3>

<div class="row mb-2">

    {% for post in featured_posts %}

        {% if not forloop.first %}

            <div class="col-md-6">

                <div class="card border-0">

                    <div class="card-body">

                        <h3>
                            <a
                                href="{% url 'blogs' post.slug %}"
                                class="text-dark"
                            >
                                {{ post.title }}
                            </a>
                        </h3>

                        <small class="mb-1 text-muted">

                            {{ post.created_at|timesince }}
                            ago |
                            {{ post.author.username }}

                        </small>

                        <p class="card-text">

                            {{ post.short_description|truncatewords:10 }}

                        </p>

                    </div>

                </div>

            </div>

        {% endif %}

    {% endfor %}

</div>


<!-- Recent Posts -->

<h3 class="text-uppercase text-warning" style="letter-spacing">
    Recent Posts
</h3>

<main role="main" class="container p-0">

    <div class="row">

        <!-- Blog Main -->

        <div class="col-md-8 blog-main">

            {% for post in posts %}

                <div class="card border-0">

                    <div class="card-body">

                        <h3>

                            <a
                                href="{% url 'blogs' post.slug %}"
                                class="text-dark"
                            >
                                {{ post.title }}
                            </a>

                        </h3>

                        <small class="mb-1 text-muted">

                            {{ post.created_at|timesince }}
                            ago |
                            {{ post.author.username }}

                        </small>

                        <p class="card-text">

                            {{ post.short_description|truncatewords:5 }}

                        </p>

                    </div>

                </div>

            {% endfor %}

        </div>


        <!-- Sidebar -->

        <aside class="col-md-4 blog-sidebar">
        


            <!-- About -->

            <div class="p-3 mb-3 bg-light rounded">

                <h4 class="font-italic">
                    About
                </h4>

                <p class="mb-2">

                    Welcome to Django Blog.
                    Explore articles about technology,
                    business, sports, science and more.

                </p>

                <a href="{% url 'about' %}">
                    Read more...
                </a>

            </div>


            <!-- Follow Us -->

            <div class="p-3">

                <h4 class="font-italic">
                    Follow Us
                </h4>

                <ol class="list-unstyled">

                    <li>

                        <a
                            href="https://github.com/"
                            target="_blank"
                        >
                            GitHub
                        </a>

                    </li>

                    <li>

                        <a
                            href="https://www.linkedin.com/"
                            target="_blank"
                        >
                            LinkedIn
                        </a>

                    </li>

                </ol>

            </div>


        </aside>

    </div>

</main>


{% endblock %}
