{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row">

    {% include 'dashboard/sidebar.html' %}

    <div class="col-md-9">

        <h3>Edit Post</h3>

        <form action="{% url 'edit_post' post.id %}"
              method="POST"
              enctype="multipart/form-data">

            {% csrf_token %}

            {{ form|crispy }}

            <br>

            <button type="submit"
                    class="btn btn-warning">
                Update Post
            </button>

            <a href="{% url 'posts' %}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}